/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/*
BARVY:
šedá na pozadí stránky:	    #b2bec3
červená na hlavní nadpis:   #d63031
tlačítko Twitter:		    #1da1f2
tlačítko Twitter aktivní:	#0b7bc1
tlačítko Twitter hover:     #94c8e8
tlačítko Facebook:			#3b5998
tlačítko Facebook aktivní:  #2b406e
tlačítko Facebook hover:    #94c8e8
*/

html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    background-color: #b2bec3;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #d63031;
    margin-bottom: 30px;
    margin-top: 0;
}

.box {
    text-align:justify;
    width: 550px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    top: 150px;
    position: relative;
}

img {
    width: 150px;
    height:150px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    right: -75px;
    top: -75px;
}

a.twitter {
    margin-top: 30px;
    color: white;
    background-color:#1da1f2;
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px; 
    margin-bottom: 5px;  
}

a.facebook {
    color: white;
    background-color:#3b5998;
    display: block;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

a.twitter:hover {
    background-color: #94c8e8;  
}

a.twitter:active {
    background-color: #0b7bc1;  
}

a.facebook:hover {
    background-color: #94c8e8;  
}

a.facebook:active {
    background-color: #2b406e;  
}



